<!-- Contact -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].contact.title | markdownify | default: Contact Us }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div><h6 class="contact-heading">Office Address</h6></div>
        <div><h7 class="contact-heading">{{ site.data.sitetext[site.locale].contact.office.address | markdownify }}</h7></div>
        <div><h6 class="contact-heading">Office Hour</h6></div>
        <div><h7 class="contact-heading">{{ site.data.sitetext[site.locale].contact.office.hour | markdownify }}</h7></div>
      </div>
      <div class="col-md-4">
        <div><h6 class="contact-heading">Contact</h6></div>
        <div><a href = "mailto: {{ site.data.sitetext[site.locale].contact.office.mail }}">{{ site.data.sitetext[site.locale].contact.office.mail }}</a></div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->