<!-- Projects -->
  <section class="bg-dark page-section" id="{{ site.data.sitetext[site.locale].projects.section | default: "projects" }}">
    <div class="container">	  
      <div class="row">
        <div class="col-md-8">
          <h2 class="section-heading">{{ site.data.sitetext[site.locale].projects.title_1 | default: "Cultivated Seafood" }}</h2>
          <p>{{ site.data.sitetext[site.locale].projects.desc_1 | default: "" }}</p>
        </div>
        <div class="col-md-4">
          <img class="mx-auto w-75" src="assets/img/seafood2.png" alt="">
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-4">
          <img class="mx-auto w-75" src="assets/img/cellbank.png" alt="">
        </div>
        <div class="col-md-8">
          <h2 class="section-heading">{{ site.data.sitetext[site.locale].projects.title_2 | default: "Cell-bank & Materials" }}</h2>
          <p>{{ site.data.sitetext[site.locale].projects.desc_2 | default: "" }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2 class="section-heading">{{ site.data.sitetext[site.locale].projects.title_3 | default: "Big Data" }}</h2>
          <p>{{ site.data.sitetext[site.locale].projects.desc_3 | default: "" }}</p>
        </div>
        <div class="col-md-4">
          <img class="mx-auto w-75" src="assets/img/data3.png" alt="">
        </div>
      </div>      
    </div>
  </section>
<!-- End Projects -->