<!-- Projects -->
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].projects.section | default: "projects" }}">
    <div class="container">	  
      <div class="row">
        <div class="col-md-8">
          <h2>How can we <strong>double</strong> our sales revenue?</h2>
          <p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources. </p>
        </div>
        <div class="col-md-4">
          <img class="mx-auto w-75" src="assets/img/seafood2.png" alt="">
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-4">
          <img class="mx-auto w-75" src="assets/img/cellbank.png" alt="">
        </div>
        <div class="col-md-8">
          <h2>How can I <strong>keep track</strong> of my sales team?</h2>
          <p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2>How can we <strong>double</strong> our sales revenue?</h2>
          <p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources. </p>
        </div>
        <div class="col-md-4">
          <img class="mx-auto w-75" src="assets/img/data3.png" alt="">
        </div>
      </div>      
    </div>
  </section>
<!-- End Projects -->